<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>authStringURL</key>
	<string>https://api.github.com/gists</string>
	<key>clientID</key>
	<string>288705c82e3ee809d8e4</string>
	<key>clientSecret</key>
	<string>1f8ce1dd72184a6a59f3a042afe776643ebf2f18</string>
</dict>
</plist>
